// Colors

$owm-red-000: #782fd0;
$owm-red-100: #180251;
$owm-red-pale: #cecde0;

$link-color: $owm-red-000;
$btn-primary-color: $owm-red-100;

$sidebar-color: $owm-red-pale;
$body-heading-color: $owm-red-100;

